

nav {
    background-color: rgba(179, 224, 245, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

}

.logo {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 2%;
}

.prefer {
    width: 5%;
    height: 5%;
   margin-top: 9%;
   margin-right: 3%;
}


.buttonnav {
    background-color: rgba(255, 169, 184, 1);
    width: 200px;
    height: 50px;
    margin-top: 10%;
    color: #fff;
    padding: 10px 20px;
    font-family: 'acme', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonnav:hover {

    background-color: rgba(255, 226, 167, 1);
}

.buttonnav:active {
    color: #FFA9B8;
    background-color: rgba(255, 226, 167, 1);
}
main{
    background-color: rgba(179, 224, 245, 1);
    

}
.formlist {
    background-color: rgba(255, 226, 167, 1);
    width: 40%;
    height: 100%;
    margin-left: 2%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;

}
.textform{
    margin-top: 3%;
    margin-left: 3%;
    font-family: 'acme', sans-serif;
    font-size: 20px;
    margin-left: 5%;
}


.form-control {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    height: 30%;
    width: 70%;
    margin-left: 5%;
    margin-bottom: 5%;
   

}

.buttonform {
    background-color: rgba(179, 224, 245, 1);
    width: 120px;
    height: 50px;
    margin-left: 32%;
    margin-bottom: 3px;
    color: #fff;
    padding: 10px 20px;
    font-family: 'acme', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.buttonform:hover,
.buttonresult:hover {
    color: #FFA9B8;
    background-color: #B3E0F5;
}

.buttonform:active,
.buttonresult:active {
    color: #FFCC00;
    background-color: #B3E0F5;
}

.content {
    background-color: rgba(179, 224, 245, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 3%;
}
.list{
    margin-left: 3%;
}
.formresult {
    background-color: rgba(255, 169, 184, 1);
    width: 52%;
    margin-right: 2%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
}
thead{
    width: 100%;
}
.buttonde {
    background-color: rgba(179, 224, 245, 1);
    font-family: 'acme', sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}